extends index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg" alt="eiffel-tower" class="img-fluid ")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quae sint minima atque molestias cupiditate repellat explicabo non, laudantium praesentium animi, quo consequuntur
                    |ratione rem, dolor ullam fugit nisi obcaecati modi officiis hic? Eveniet expedita nihil dignissimos, consequuntur odio qui totam minus rem eum cum. Lorem ipsum dolor sit amet consectetur adi
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate inventore hic impedit, ad optio adipisci eos nostrum sint, voluptatum assumenda repellat nulla placeat quaerat esse cupiditate 
                    |exercitationem officiis itaque culpa animi aperiam mollitia eaque quo voluptas consequuntur? Nulla atque sint libero. Incidunt quia, vel aliquid veniam commodi minima, accusantium sunt, ipsum sit 
                    |eveniet dolorum repellendus in enim. Sunt, officia. Unde, reiciendis at!
                p Loressm ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam dolor odit sunt aut eos, harum totam debitis mollitia placeat. Deleniti consequatur deserunt repellat qui suscipit asperiores pariatur
                    |perspiciatis quibusdam atque!

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg" alt="icono-seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eaque iste ea molestias ullam incidunt neque vel, esse, fuga rerum commodi. Modi!
                .col-md-4
                    img(src="img/icono_destinos.svg" alt="icono-seguridad" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eaque iste ea molestias ullam incidunt neque vel, esse, fuga rerum commodi. Modi!
                .col-md-4
                    img(src="img/icono_precios.svg" alt="icono-seguridad" class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eaque iste ea molestias ullam incidunt neque vel, esse, fuga rerum commodi. Modi!